[Unit]
Description=redditarchiver
After=network.target

[Service]
User=redditarchiver
Group=redditarchiver
WorkingDirectory=/app
ExecStart=/app/run.sh

[Install]
WantedBy=multi-user.target
